.MywishlistContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.MywishlistContainer header{
    display: flex;
    justify-content: space-between;
}
.MywishlistContainer .wishingOrdersCards{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card .featuredCard{
    background-color: aqua;
    height: 1600px !important;
}
.ClearAllBtn{
    padding: 0px 5px;
    text-decoration: none;
    cursor: pointer;

}